main {
  align-items: center;
  background-color: 0d3fbd;
  color: seashell;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  margin: 10px -10px;
  padding: 75px;
}

.titles {
  margin: 20px 0;
}

.title {
  align-items: center;
  display: flex;
  color: mediumturquoise;
  flex-direction: column;
  font-size: 90px;
  font-weight: bolder;
  height: 300px;
  justify-content: center;
  padding: 0;
}

.title > p, #sub-title > p {
  margin: 0;
}

.title > p {
  text-align: center;
}

#sub-title {
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

/*Tablets in portrait */
@media screen and (max-width: 750px) {
  main {
    height: 100%;
  }

  .title {
    height: 500px;
  }
}

/*Smartphones in portrait*/
@media screen and (max-width: 420px) {
  main {
    height: 100%;
    padding-top: 50px;
  }

  .title {
    font-size: 60px;
    height: 400px;
  }

  #sub-title {
    font-size: 36px;
  }
}