main {
  align-items: center;
  background-color: 0d3fbd;
  color: seashell;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  margin: 10px -10px;
  padding: 75px;
}

.title {
  align-items: center;
  display: flex;
  color: mediumturquoise;
  flex-direction: column;
  font-size: 90px;
  font-weight: bolder;
  height: 300px;
  justify-content: center;
  padding: 0;
}

.title > p, #sub-title > p {
  margin: 0;
}

.title > p {
  text-align: center;
}

#sub-title {
  font-size: 36px;
  font-style: italic;
}