.blogs-background {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogs-background > p {
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
  text-shadow: 0 0 20px #bd0d77;
}

.blogs-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -10px;
  min-height: 500px;
  min-width: 80%;
  padding: 20px;
}

#load-more {
  background-color: lightsteelblue;
  border: 1px solid #0d3fbd;
  border-radius: 5px;
  box-shadow: 0 0 20px #0d3fbd;
  padding: 2px;
}

#load-more:hover {
  cursor: pointer;
}