#about-mark {
  background-color: lightsteelblue;
  display:flex;
  min-height: 100%;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 20px;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

#right-column {
  align-items: flex-start;
}

#circle-photo {
  border: 5px solid #0d3fbd;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

#question {
  font-size: 48px;
  font-weight: bold;
}

#intro {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.experience {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}