header {
  background-color: blue;
  color: seashell;
  display: flex;
  justify-content: space-between;
  margin: -10;
  padding: 5px 20px;
}

#navlinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
}