.blog {
  align-items: center;
  background-color: lightsteelblue;
  border: 1px solid #bd0d77;
  border-radius: 5px;
  box-shadow: 0 0 20px #bd0d77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 275px;
  padding: 5px;
  width: 25%;
}

.blog:hover {
  cursor: pointer;
}

#blog-title {
  font-size: 20px;
  font-weight: 900;
  justify-self: center;
}

#blog-text {
  font-size: 18px;
  justify-self: center;
}