header {
  position: fixed;
  width: 100%;
}

header > section {
  background-color: #0d3fbd;
  color: seashell;
  display: flex;
  justify-content: space-between;
  margin: -10;
  overflow: hidden;
  padding: 5px 20px;
}

.navlinks-left, .navlinks-right {
  align-items: start;
  display: flex;
  padding-right: 30px;
}

.navlinks-left {
  justify-content: flex-start;
  width: 40%;
}

.navlinks-left > h3 {
  margin-right: 20px;
}

.navlinks-right {
  justify-content: flex-end;
  width: 60%;
}

.anchor-tags {
  margin: 0 0.4em;
}

.anchor-tags:link, .anchor-tags:visited,
.anchor-tags:hover, .anchor-tags:active  {
  color: seashell;
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  header > section {
    padding: 5px 10px;
  }

  .navlinks-left, .navlinks-right {
    margin-left: 0px;
    padding-right: 0;
    width: 70%;
  }
  .navlinks-left {
    text-align: center;
  }

  .navlinks-right {
    width: 30%;
  }
}