header {
  position: fixed;
  width: 100%;
}

header > section {
  background-color: #0d3fbd;
  color: seashell;
  display: flex;
  justify-content: space-between;
  margin: -10;
  overflow: hidden;
  padding: 5px 20px;
}

.navlinks-left, .navlinks-right {
  align-items: start;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-right: 30px;
}

.anchor-tags {
  font-size: 20px;
  margin: 0 0.2em;
}

.anchor-tags:link, .anchor-tags:visited,
.anchor-tags:hover, .anchor-tags:active  {
  color: seashell;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  header > section {
    padding: 5px 10px;
  }

  .navlinks-left, .navlinks-right {
    margin-left: 0px;
    justify-content: space-around;
    padding-right: 0;
    width: 75%;
  }
  .navlinks-left {
    text-align: center;
  }

  .navlinks-right {
    width: 25%;
  }
}