.video-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-wrapper {
  height: 400px;
  width: 600px;
}

.video-title > p {
  font-size: 50px;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0 0 20px #0d3fbd;
}

#video-blurb {
  padding: 40px 0;
  font-size: 20px;
  width: 75%;
}

@media screen and (max-width: 755px) {
  .player-wrapper {
    height: 300px;
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .player-wrapper {
    height: 150px;
    width: 250px;
  }
}